git "git@gitlab.com:calibre-utils/CalibreKit.git" "master"
git "git@gitlab.com:jdmarshall90libs/SwiftLintConfig.git" ~> 3.0.0
git "git@gitlab.com:iOS_Open_Source_Forks/LicenseGenerator-iOS.git" ~> 0.6.0

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" ~> 5.10.0
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json" ~> 1.7.13
binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json" ~> 3.10.9
